// Styles
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.enter-unberry-style {
  background-color: $theme-secondary;
  padding: 80px 0 150px;
  position: relative;

  &::before {
    position: absolute;
    top: 40px;
    left: -160px;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../../../assets/images/bg/bg3.svg") no-repeat left;
    background-size: 25%;
  }

  &::after {
    position: absolute;
    top: -100px;
    right: -200px;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../../../assets/images/bg/bg1.svg") no-repeat top right;
    background-size: 25%;
  }

  .logo {
    width: 145px;
  }

  .title2 {
    margin-bottom: 10px;
    text-align: center;
    color: $white;
    font-size: 45px;
  }

  .description {
    color: $white;
    font-size: 18px;
  }

  .timeline-style {
    .description {
      max-width: 75%;
      margin: 20px 0;

      @include mobile {
        max-width: 100%;
      }
    }

    .image {
      width: 400px;

      @include mobile {
        width: 100%;
      }
    }

    .row {
      margin-top: 100px;
    }

    .btn-link {
      text-transform: uppercase;
      font-size: 14px;
      color: $white;
      font-weight: 600;
      padding: 0;
    }
  }

  .title4 {
    font-size: 34px;
    font-weight: 600;
    color: $white;

    @include mobile {
      font-size: 30px;
    }

    br {
      @include mobile {
        display: none;
      }
    }
  }

  .info-sec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .shape-img-style {
    margin-bottom: 25px;
  }

  // list style
  .list-section {
    list-style: none;
    color: $white;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: all 0.5s ease-in-out;

    li {
      margin-bottom: 20px;
      opacity: 0.7;
      max-width: 65%;
      font-size: 18px;
      display: flex;
      align-items: flex-start;

      @include mobile {
        max-width: 90%;
      }

      &:before {
        display: inline-block;
        content: "";
        background: url("../../../assets/images/shapes/cube.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-top: 3px;
      }
    }
  }

  .button-section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    z-index: 1;

    @include desktop {
      display: none;
    }

    &:after {
      display: inline-block;
      content: "";
      background: url("../../../assets/images/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      margin-top: 4px;
    }

    button {
      border: none;
      background: none;
      color: $white;
      text-transform: uppercase;
    }
  }
}
