// Styles
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.rapidly-evolving-style {
  background-color: $white;
  padding: 200px 0 0px;

  .img-style {
    width: 500px;
    position: relative;
    top: -50px;
    left: -100px;
  }

  .heading-sec {
    margin-bottom: 37px;
  }

  .title2 {
    max-width: 70%;
  }

  .description {
    max-width: 65%;
    margin-top: 10px;

    &.xs {
      font-size: 14px;
    }
  }

  .timeline-item {
    margin-top:30px;
    display: flex;
    align-items: flex-start;
    opacity: 0.5;

    &.timeline-active {
      opacity: 1;
    }
  } 

  .videoAnimation {
    width: 100%;
    height: 100%;
    position: relative;

    video {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
