@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.button-outline-style {
  .btn {
    border-radius: 50px;
    border: 0.5px solid $white;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 15px;
    color: $white;
    background: rgba($black, 0.1);
    transition: all 0.5s ease-in-out;
    font-weight: 600;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      opacity: 0.8;
      background: rgba($white, 1);
      color: $black;
      font-weight: 600;
    }
  }
}
