// ######################################## //
// ## FONTS.SCSS ## //
// ######################################## //

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Roobert-Regular.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Roobert-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Roobert-SemiBold.ttf"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Roobert-SemiBold.ttf") format("truetype");
}
