// Styles
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.holdup-section-style {
  background-color: $white;
  padding: 50px 0 150px;

  .title2 {
    margin-bottom: 37px;
    text-align: center;
  }

  .title4 {
    font-size: 18px;
    font-weight: 600;
  }

  .description {
    font-size: 16px;
    max-width: 65%;
  }

  .scroll-section {
    transition: all 05s ease-in-out;
    img {
      width: 100%;
    }
  }

  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;

    .img-style {
      width: 100%;
      position: absolute;
    }

    &:after {
      position: absolute;
      top: 70px;
      left: 390px;
      content: "";
      width: 40%;
      height: 100%;
      background-image: url("../../../assets/images/shapes/g2.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      z-index: 3;
    }

    .science-box {
      padding: 80px 150px;
      background: $theme-secondary;
      color: $theme-primary;
      font-size: 20px;
      font-weight: 600;
      max-width: 60%;
      border-radius: 10px;
      text-align: center;
      position: relative;
      z-index: 2;
    }
  }

  .progress-bar-horizontal {
    max-width: 30%;
    margin: 60px auto 80px;
  }
}
