// Styles
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.holdup-section-style {
  background-color: $white;
  padding: 50px 0 150px;

  .img-style {
    width: 400px;
  }

  .title2 {
    margin-bottom: 37px;
    text-align: center;
  }

  .title4 {
    font-size: 18px;
    font-weight: 600;
  }

  .description {
    font-size: 16px;
    max-width: 65%;
  }

  .scroll-section {
    
    img {
      width: 100%;
    }
  }
}
