@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.home-page-container {
  overflow: hidden;
  background-color: $theme-secondary;
  
  .top-header-style {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    padding: 30px;
  }
}