@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.home-page-container {
  background-color: $theme-secondary;
  
  .top-header-style {
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    padding: 30px;

    @include mobile {
      padding: 30px 5px;
    }
  }
}