// Styles
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.footer-style {
  background-color: $theme-secondary;
  color: $white;
  position: relative;
  padding: 300px 0 20px;

  &::before {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    content: "";
    opacity: 0.4;
    background-image: url('../../assets/images/line-pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: $white;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }

  .title4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .copyright-section {
    border-top: 1px solid #979797;
    padding: 29px 0;
    margin-top: 48px;
  }
  

  .logo {
    width: 120px;
  }

  .btn {
    text-transform: uppercase;
  }
}
