// Styles
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.footer-style {
  background-color: $theme-secondary;
  color: $white;
  position: relative;
  padding: 270px 0 20px;
  overflow: hidden;

  @include mobile {
    text-align: center;
    padding: 250px 0 20px;
  }

  &::before {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    content: "";
    opacity: 0.4;
    background-image: url("../../assets/images/line-pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include mobile {
      display: none;
    }
  }

  .order-4 {
    @include mobile {
      margin-top: 50px;
    }

    @include desktop {
      order: 0;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    @include mobile {
      display: none;
    }

    a {
      color: $white;
      text-decoration: none;
      margin-bottom: 10px;
      color: $gray-7;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  .title4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  .copyright-section {
    border-top: 1px solid #979797;
    padding: 29px 0;
    margin-top: 10px;
    color: $gray-7;

    @include mobile {
      font-size: 14px;
    }

    .text-right {
      @include mobile {
        text-align: center !important;
        margin-top: 20px;
        opacity: 0.7;
      }
    }
  }

  .logo {
    width: 120px;
  }

  .btn {
    text-transform: uppercase;
  }

  .decription {
    font-size: 14px;
    max-width: 70%;
    margin: 20px auto 0;
    opacity: 0.7;
  }
}
