// Styles
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.insights-section-style {
  background-color: $white;
  padding: 50px 0;

  .image-style {
    width: 100%;
  }

  .title2 {
    margin-bottom: 37px;
    font-weight: 600;

    span {

      @include mobile {
        display: none;
      }
    }
  }

  .flex-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;

    .title2 {
      margin: 0;
    }
  }

  .btn-more {
    display: none;
    font-size: 16px;
    color: $black;
    font-weight: 500;

    @include mobile {
      display: block;
      text-transform: uppercase;
    }
  }

  .info {
    font-size: 14px;
    margin: 10px 0;
  }

  .title4 {
    font-size: 18px;
    font-weight: 600;
    max-width: 90%;
  }

  .description {
    font-size: 16px;
    max-width: 100%;
    margin: 10px 0 20px;
    opacity: 0.7;
  }

  .theme-purple {
    color: #7e5fff;
  }

  .btn-link {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:after {
      display: block;
      width: 48px;
      height: 1px;
      content: "";
      margin-left: 20px;
      transition: all 0.5s ease-in-out;
      background-color: #7e5fff;

      @include mobile {
        width: 120px;
        height: 1.5px;
      }
    }

    &:hover {
      &:after {
        width: 60%;
      }
    }
  }

  .scroll-section {
    img {
      width: 100%;
    }
  }

  .image-card {
    width: 33%;
    margin-right: 50px;

    @include mobile {
      width: 90%;
      margin-right: 20px;
    }
  }
}
